$font-fam-Arimo: "Arimo", sans-serif;
$font-fam-Rubik: "Rubik", sans-serif;

//color
$unique-color: hsl(0, 94%, 66%);
$primary-color: hsl(229, 31%, 21%);
$secondary-color: hsl(229, 8%, 60%);
$main-color: hsl(231, 69%, 60%);
//transition

$main-transition: all 400ms ease-in-out;
.main .extension-container {
  .extension-text-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 100px;
    grid-template-rows: 1fr;
  }
  .extension-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: auto;
    margin-right: auto;
    place-items: center;
    margin-top: 50px;
    width: 70%;

    > div {
      background: rgb(247, 246, 246);
      width: 300px;
      height: 400px;
      border-radius: 10px;
      box-shadow: 1px 2px 10px #8888884f;
      object-fit: contain;
      img {
        display: grid;
        margin-left: auto;
        margin-right: auto;
        place-items: center;
        margin-top: 30px;
      }
      h3 {
        color: $primary-color;
        font-family: $font-fam-Arimo;
        text-align: center;
      }
      p {
        text-align: center;
      }
      img {
        margin-top: 40px;
      }
      button {
        display: grid;
        margin-left: auto;
        margin-right: auto;
        place-items: center;
        margin-top: 40px;
        height: 60px;
        width: 250px;
        font-size: 16px;
        color: #fff;
        background: $main-color;
        border: $primary-color;
        border-radius: 5px;
        font-weight: 800;
        box-shadow: 1px 2px 5px #888888a4;
        cursor: pointer;
        font-family: $font-fam-Arimo;
        letter-spacing: 1px;
        transition: $main-transition;
        &:hover {
          background: none;
          color: $primary-color;
          transition: $main-transition;
          border: 1px solid $primary-color;
        }
      }
    }
  }
}
@media (max-width: 1440px) {
}
@media (max-width: 1024px) {
  .main .extension-container {
    .extension-text-container {
      margin-top: 400px;
      display: grid;
      place-items: center;
      margin-left: auto;
      margin-right: auto;
    }
    .extension-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 50px;
      margin-top: 100px;
    }
  }
}

@media (max-width: 992px) {
  .main .extension-container {
    .extension-text-container {
      margin-top: 700px;
      display: grid;
      place-items: center;
      margin-left: auto;
      margin-right: auto;
    }
    .extension-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(580px, 1fr));
      gap: 50px;
      margin-top: 100px;
    }
  }
}
@media (max-width: 868px) {
}
@media (max-width: 656px) {
  .main .extension-container {
    .extension-text-container {
      margin-top: 500px;
    }
  }
}

@media (max-width: 604px) {
}
@media (max-width: 425px) {
  .main .extension-container {
    .extension-text-container {
      margin-top: 650px;
      text-align: center;
      display: grid;
      place-items: center;
      margin-left: auto;
      margin-right: auto;
      width: 80%;
      h2 {
        font-size: 35px;
      }
      p {
        font-size: 22px;
      }
    }
    .extension-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(363px, 1fr));
      > div {
        margin-top: 0px;
        width: 380px;
        height: 450px;
        h3 {
          font-size: 30px;
        }
        p {
          font-size: 22px;
        }
      }
    }
  }
}

@media (max-width: 375px) {
  .main .extension-container {
    .extension-text-container {
      margin-top: 600px;
      text-align: center;
      display: grid;
      place-items: center;
      margin-left: auto;
      margin-right: auto;
      width: 70%;
      h2 {
        font-size: 30px;
      }
      p {
        font-size: 19px;
      }
    }
    .extension-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(363px, 1fr));
      > div {
        margin-top: 0px;
        width: 380px;
        height: 450px;
        h3 {
          font-size: 30px;
        }
        p {
          font-size: 19px;
        }
      }
    }
  }
}
