.main .home-section .hero-section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  margin: 50px 100px;
}

.main .home-section .hero-section .hero-image-container {
  z-index: -999;
}

.main .home-section .hero-section .hero-text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 100px;
}

.main .home-section .hero-section .hero-text-container h1 {
  font-family: "Arimo", sans-serif;
  text-transform: capitalize;
  font-size: 3.5rem;
  color: #252b46;
}

.main .home-section .hero-section .hero-text-container p {
  width: 500px;
  margin-top: 0;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  color: #9194a1;
}

.main .home-section .hero-section .hero-text-container .hero-button {
  display: inline-block;
}

.main .home-section .hero-section .hero-text-container .hero-button .button1 {
  height: 60px;
  width: 200px;
  font-size: 16px;
  color: #fff;
  background: #5368df;
  border: #252b46;
  border-radius: 5px;
  font-weight: 800;
  -webkit-box-shadow: 1px 2px 5px #888888a4;
          box-shadow: 1px 2px 5px #888888a4;
  cursor: pointer;
  font-family: "Arimo", sans-serif;
  letter-spacing: 1px;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.main .home-section .hero-section .hero-text-container .hero-button .button1:hover {
  background: none;
  color: #252b46;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
  border: 1px solid #252b46;
}

.main .home-section .hero-section .hero-text-container .hero-button .button2 {
  height: 60px;
  width: 200px;
  font-size: 16px;
  color: #9194a1;
  background: #fafafa;
  border: #9194a1;
  border-radius: 5px;
  font-weight: 800;
  -webkit-box-shadow: 1px 2px 5px #888888a4;
          box-shadow: 1px 2px 5px #888888a4;
  cursor: pointer;
  font-family: "Arimo", sans-serif;
  letter-spacing: 1px;
  margin-left: 15px;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.main .home-section .hero-section .hero-text-container .hero-button .button2:hover {
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
  border: 1px solid #252b46;
}

.main .home-section .hero-section .hero-image-container {
  position: relative;
  margin-top: 100px;
}

.main .home-section .hero-section .hero-image-container::before {
  content: "";
  background: #5368df;
  height: 450px;
  width: 630px;
  position: absolute;
  left: 160px;
  top: 120px;
  z-index: -1;
  border-bottom-left-radius: 100px;
}

.main .home-section .hero-section .hero-image-container img {
  height: 550px;
  width: 100%;
}

@media (max-width: 1440px) {
  .main .home-section .hero-section {
    margin: 0;
  }
  .main .home-section .hero-section .hero-text-container h1 {
    font-size: 50px;
  }
  .main .home-section .hero-section .hero-image-container::before {
    content: "";
    background: #5368df;
    height: 400px;
    width: 450px;
    position: absolute;
    left: 177px;
    top: 100px;
    z-index: -1;
  }
  .main .home-section .hero-section .hero-image-container img {
    width: 600px;
    height: 500px;
  }
}

@media (max-width: 1300px) {
  .main .home-section .hero-section {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 100px;
  }
  .main .home-section .hero-section .hero-text-container h1 {
    font-size: 50px;
  }
  .main .home-section .hero-section .hero-image-container::before {
    content: "";
    background: #5368df;
    height: 400px;
    width: 495px;
    position: absolute;
    left: 177px;
    top: 105px;
    z-index: -1;
  }
  .main .home-section .hero-section .hero-image-container img {
    width: 600px;
    height: 500px;
  }
}

@media (max-width: 1270px) {
  .main .home-section .hero-section {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 100px;
  }
  .main .home-section .hero-section .hero-text-container h1 {
    font-size: 50px;
  }
  .main .home-section .hero-section .hero-image-container::before {
    content: "";
    background: #5368df;
    height: 400px;
    width: 495px;
    position: absolute;
    left: 177px;
    top: 105px;
    z-index: -1;
  }
  .main .home-section .hero-section .hero-image-container img {
    width: 600px;
    height: 500px;
  }
}

@media (max-width: 1024px) {
  .main .home-section .hero-section {
    margin: 0;
  }
  .main .home-section .hero-section .hero-text-container h1 {
    font-size: 50px;
  }
  .main .home-section .hero-section .hero-image-container::before {
    content: "";
    background: #5368df;
    height: 350px;
    width: 410px;
    position: absolute;
    left: 100px;
    top: 100px;
    z-index: -1;
  }
  .main .home-section .hero-section .hero-image-container img {
    width: 500px;
    height: 450px;
  }
}

@media (max-width: 992px) {
  .main .home-section .hero-section {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(450px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    margin: 50px;
  }
  .main .home-section .hero-section .hero-text-container {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    display: -ms-grid;
    display: grid;
    place-items: center;
    text-align: center;
  }
  .main .home-section .hero-section .hero-text-container h1 {
    font-size: 60px;
  }
  .main .home-section .hero-section .hero-text-container p {
    line-height: 30px;
  }
  .main .home-section .hero-section .hero-image-container {
    margin-left: auto;
    margin-right: auto;
    display: -ms-grid;
    display: grid;
    place-items: center;
  }
  .main .home-section .hero-section .hero-image-container::before {
    content: "";
    background: #5368df;
    height: 500px;
    width: 725px;
    position: absolute;
    left: 120px;
    top: 130px;
    z-index: -1;
  }
  .main .home-section .hero-section .hero-image-container img {
    width: 700px;
    height: 600px;
  }
}

@media (max-width: 868px) {
  .main .home-section .hero-section {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(550px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
  }
  .main .home-section .hero-section .hero-text-container {
    margin-top: 50px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .main .home-section .hero-section .hero-text-container h1 {
    font-size: 50px;
  }
  .main .home-section .hero-section .hero-text-container p {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .main .home-section .hero-section .hero-text-container form {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .main .home-section .hero-section .hero-image-container {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .main .home-section .hero-section .hero-image-container::before {
    content: "";
    background: #5368df;
    height: 450px;
    width: 600px;
    position: absolute;
    left: 155px;
    top: 280px;
    z-index: -1;
  }
  .main .home-section .hero-section .hero-image-container img {
    width: 650px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
  }
}

@media (max-width: 768px) {
  .main .home-section .hero-section {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(550px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
    gap: 50px;
  }
  .main .home-section .hero-section .hero-text-container {
    margin-top: 50px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .main .home-section .hero-section .hero-text-container h1 {
    font-size: 50px;
  }
  .main .home-section .hero-section .hero-text-container p {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .main .home-section .hero-section .hero-text-container form {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .main .home-section .hero-section .hero-image-container {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .main .home-section .hero-section .hero-image-container::before {
    content: "";
    background: #5368df;
    height: 450px;
    width: 500px;
    position: absolute;
    left: 185px;
    top: 280px;
    z-index: -1;
  }
  .main .home-section .hero-section .hero-image-container img {
    width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
  }
}

@media screen and (max-width: 656px) {
  .main .home-section .hero-section .hero-text-container {
    margin-top: 100px;
  }
  .main .home-section .hero-section .hero-text-container h1 {
    text-align: center;
  }
  .main .home-section .hero-section .hero-text-container p {
    width: 100%;
  }
  .main .home-section .hero-section .hero-text-container form {
    display: block;
  }
  .main .home-section .hero-section .hero-text-container form .btn {
    margin-left: 0;
    margin-top: 0;
  }
  .main .home-section .hero-section .hero-text-container form .btn2 {
    margin-left: 0;
    margin-top: 0;
  }
  .main .home-section .hero-section .hero-image-container::before {
    content: "";
    background: #5368df;
    height: 400px;
    width: 477px;
    position: absolute;
    left: 100px;
    top: 250px;
    z-index: -1;
  }
  .main .home-section .hero-section .hero-image-container img {
    width: 500px;
    height: 500px;
  }
}

@media screen and (max-width: 604px) {
  .main .home-section .hero-section .hero-text-container {
    margin-top: 50px;
  }
  .main .home-section .hero-section .hero-text-container h1 {
    text-align: center;
  }
  .main .home-section .hero-section .hero-text-container p {
    width: 100%;
  }
  .main .home-section .hero-section .hero-text-container form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main .home-section .hero-section .hero-text-container form .btn {
    margin-left: -20px;
  }
  .main .home-section .hero-section .hero-text-container form .btn2 {
    margin-left: 10px;
    margin-top: 0px;
  }
}

@media (max-width: 425px) {
  .main .home-section .hero-section {
    margin: 0;
  }
  .main .home-section .hero-section .hero-text-container {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  .main .home-section .hero-section .hero-text-container h1 {
    font-size: 60px;
  }
  .main .home-section .hero-section .hero-text-container p {
    font-size: 22px;
  }
  .main .home-section .hero-section .hero-text-container .hero-button {
    margin-top: 50px;
  }
  .main .home-section .hero-section .hero-text-container .hero-button .button1,
  .main .home-section .hero-section .hero-text-container .hero-button .button2 {
    width: 250px;
    height: 70px;
    font-size: 24px;
  }
  .main .home-section .hero-section .hero-image-container {
    margin: 0;
  }
  .main .home-section .hero-section .hero-image-container::before {
    content: "";
    background: #5368df;
    height: 370px;
    width: 450px;
    position: absolute;
    left: 130px;
    top: 200px;
    z-index: -1;
  }
  .main .home-section .hero-section .hero-image-container img {
    width: 530px;
    height: 430px;
  }
}

@media (max-width: 375px) {
  .main .home-section .hero-section {
    margin: 0;
  }
  .main .home-section .hero-section .hero-text-container {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  .main .home-section .hero-section .hero-text-container h1 {
    font-size: 60px;
  }
  .main .home-section .hero-section .hero-text-container p {
    font-size: 19px;
  }
  .main .home-section .hero-section .hero-text-container .hero-button {
    margin-top: 50px;
  }
  .main .home-section .hero-section .hero-text-container .hero-button .button1,
  .main .home-section .hero-section .hero-text-container .hero-button .button2 {
    width: 240px;
    height: 70px;
    font-size: 20px;
  }
  .main .home-section .hero-section .hero-image-container {
    margin: 0;
  }
  .main .home-section .hero-section .hero-image-container::before {
    content: "";
    background: #5368df;
    height: 340px;
    width: 420px;
    position: absolute;
    left: 130px;
    top: 200px;
    z-index: -1;
  }
  .main .home-section .hero-section .hero-image-container img {
    width: 500px;
    height: 400px;
  }
}

@media (max-width: 320px) {
  .main .home-section .hero-section {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin: 0;
  }
  .main .home-section .hero-section .hero-text-container {
    margin-bottom: 50px;
    width: 410px;
    margin: 0;
  }
  .main .home-section .hero-section .hero-text-container h1 {
    font-size: 30px;
  }
  .main .home-section .hero-section .hero-text-container .hero-button .button1 {
    width: 150px;
    font-size: 14px;
  }
  .main .home-section .hero-section .hero-text-container .hero-button .button2 {
    width: 150px;
    font-size: 14px;
  }
  .main .home-section .hero-section .hero-image-container {
    margin: 0;
  }
  .main .home-section .hero-section .hero-image-container::before {
    content: "";
    background: #5368df;
    height: 300px;
    width: 100%;
    position: absolute;
    left: 80px;
    top: 200px;
    z-index: -1;
  }
  .main .home-section .hero-section .hero-image-container img {
    width: 350px;
    height: 350px;
  }
  .main .home-section .hero-section .hero-text-container {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 375px) {
  .main .home-section .hero-section {
    margin: 0;
  }
  .main .home-section .hero-section .hero-text-container {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  .main .home-section .hero-section .hero-text-container h1 {
    font-size: 60px;
  }
  .main .home-section .hero-section .hero-text-container p {
    font-size: 19px;
  }
  .main .home-section .hero-section .hero-text-container .hero-button {
    margin-top: 50px;
  }
  .main .home-section .hero-section .hero-text-container .hero-button .button1,
  .main .home-section .hero-section .hero-text-container .hero-button .button2 {
    width: 240px;
    height: 70px;
    font-size: 20px;
  }
  .main .home-section .hero-section .hero-image-container {
    margin: 0;
  }
  .main .home-section .hero-section .hero-image-container::before {
    content: "";
    background: #5368df;
    height: 340px;
    width: 420px;
    position: absolute;
    left: 130px;
    top: 200px;
    z-index: -1;
  }
  .main .home-section .hero-section .hero-image-container img {
    width: 500px;
    height: 400px;
  }
}

@media (max-width: 320px) {
  .main .home-section .hero-section {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin: 0;
  }
  .main .home-section .hero-section .hero-text-container {
    margin-bottom: 50px;
    width: 410px;
    margin: 0;
  }
  .main .home-section .hero-section .hero-text-container h1 {
    font-size: 40px;
  }
  .main .home-section .hero-section .hero-text-container .hero-button .button1 {
    width: 150px;
    font-size: 14px;
  }
  .main .home-section .hero-section .hero-text-container .hero-button .button2 {
    width: 150px;
    font-size: 14px;
  }
  .main .home-section .hero-section .hero-image-container {
    margin: 0;
  }
  .main .home-section .hero-section .hero-image-container::before {
    content: "";
    background: #5368df;
    height: 300px;
    width: 350px;
    position: absolute;
    left: 150px;
    top: 200px;
    z-index: -1;
  }
  .main .home-section .hero-section .hero-image-container img {
    width: 350px;
    height: 350px;
  }
  .main .home-section .hero-section .hero-text-container {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
}
/*# sourceMappingURL=home.css.map */